LAB-2/Node-red.txt
[{"id":"6642e891.09a6a8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9effc683.fc44e8","type":"serial in","z":"6642e891.09a6a8","name":"","serial":"3838930c.0068cc","x":50,"y":220,"wires":[["baa49205.94a82"]]},{"id":"baa49205.94a82","type":"function","z":"6642e891.09a6a8","name":"Get input","func":"var newMsg = {payload: msg.payload.toString()};\nreturn newMsg;","outputs":1,"noerr":0,"x":200,"y":220,"wires":[["f02cac5e.6d9cd"]]},{"id":"f02cac5e.6d9cd","type":"function","z":"6642e891.09a6a8","name":"Split Data","func":"var light = {payload: \"\"};\n\nvar temp={payload: \"\"};\nif(msg.payload.indexOf(\"l\")>0){\n   light.payload = msg.payload.substring(0,msg.payload.indexOf(\"l\")); \n}\nelse if(msg.payload.indexOf(\"t\")>0){\n    temp.payload = msg.payload.substring(0,msg.payload.indexOf(\"t\"));\n}\n\n//var light = {payload: msg.payload.Light};\n//var temp = {payload: msg.payload.Temp};\n\nreturn [light, temp];","outputs":2,"noerr":0,"x":420,"y":220,"wires":[["acc39ffd.8742c","ed5f626d.9936b"],["65c3df90.19694","fe4ab025.9163c","17861011.45b77"]]},{"id":"fe4ab025.9163c","type":"ui_gauge","z":"6642e891.09a6a8","name":"Temp","group":"fd675c63.0f99e","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"","format":"{{value}}","min":0,"max":"100","colors":["#ffff80","#ff8000","#008000"],"seg1":"","seg2":"","x":990,"y":380,"wires":[]},{"id":"acc39ffd.8742c","type":"debug","z":"6642e891.09a6a8","name":"Light","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":590,"y":40,"wires":[]},{"id":"65c3df90.19694","type":"debug","z":"6642e891.09a6a8","name":"Temp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":590,"y":480,"wires":[]},{"id":"959af04.77e4c1","type":"ui_gauge","z":"6642e891.09a6a8","name":"Light","group":"21d8a015.7e335","order":0,"width":0,"height":0,"gtype":"gage","title":"Light","label":"","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":990,"y":220,"wires":[]},{"id":"ed5f626d.9936b","type":"rbe","z":"6642e891.09a6a8","name":"","func":"deadbandEq","gap":"0.1%","start":"","inout":"out","property":"payload","x":640,"y":160,"wires":[["959af04.77e4c1","3fb0eeb.54a9312"]]},{"id":"3159d18f.5ee4be","type":"twitter out","z":"6642e891.09a6a8","twitter":"","name":"Tweet","x":990,"y":60,"wires":[]},{"id":"ce6cdf3c.10b9e","type":"twitter out","z":"6642e891.09a6a8","twitter":"","name":"Tweet","x":990,"y":460,"wires":[]},{"id":"3fb0eeb.54a9312","type":"function","z":"6642e891.09a6a8","name":"Post Tweet","func":"msg.payload = \"Light in a room is: \" + msg.payload; \nreturn msg;","outputs":1,"noerr":0,"x":830,"y":60,"wires":[["3159d18f.5ee4be"]]},{"id":"17861011.45b77","type":"function","z":"6642e891.09a6a8","name":"","func":"msg.payload = \"Temperature in a room is: \" + msg.payload; \nreturn msg;","outputs":1,"noerr":0,"x":730,"y":400,"wires":[["ce6cdf3c.10b9e"]]},{"id":"3838930c.0068cc","type":"serial-port","z":"","serialport":"COM12","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"_","bin":"false","out":"char","addchar":false,"responsetimeout":""},{"id":"fd675c63.0f99e","type":"ui_group","z":"","name":"Temp","tab":"f20cc699.a78ed8","order":4,"disp":true,"width":"6","collapse":false},{"id":"21d8a015.7e335","type":"ui_group","z":"","name":"Light","tab":"f20cc699.a78ed8","disp":true,"width":"6","collapse":false},{"id":"f20cc699.a78ed8","type":"ui_tab","z":"","name":"Lab 2","icon":"dashboard","disabled":false,"hidden":false}]